client/ebox_client/ebox_client/Service References/ebox_webservice/ebox_service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://eboxServic.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://eboxServic.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://eboxServic.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="addResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Postman_Verify">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PhoneNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Psw" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Postman_VerifyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Postman_VerifyResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Manager_Verify">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PhoneNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Psw" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Manager_VerifyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Manager_VerifyResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadPkglog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="log" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadPkglogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UploadPkglogResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="addSoapIn">
    <wsdl:part name="parameters" element="tns:add" />
  </wsdl:message>
  <wsdl:message name="addSoapOut">
    <wsdl:part name="parameters" element="tns:addResponse" />
  </wsdl:message>
  <wsdl:message name="Postman_VerifySoapIn">
    <wsdl:part name="parameters" element="tns:Postman_Verify" />
  </wsdl:message>
  <wsdl:message name="Postman_VerifySoapOut">
    <wsdl:part name="parameters" element="tns:Postman_VerifyResponse" />
  </wsdl:message>
  <wsdl:message name="Manager_VerifySoapIn">
    <wsdl:part name="parameters" element="tns:Manager_Verify" />
  </wsdl:message>
  <wsdl:message name="Manager_VerifySoapOut">
    <wsdl:part name="parameters" element="tns:Manager_VerifyResponse" />
  </wsdl:message>
  <wsdl:message name="UploadPkglogSoapIn">
    <wsdl:part name="parameters" element="tns:UploadPkglog" />
  </wsdl:message>
  <wsdl:message name="UploadPkglogSoapOut">
    <wsdl:part name="parameters" element="tns:UploadPkglogResponse" />
  </wsdl:message>
  <wsdl:portType name="ebox_serviceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="add">
      <wsdl:input message="tns:addSoapIn" />
      <wsdl:output message="tns:addSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Postman_Verify">
      <wsdl:input message="tns:Postman_VerifySoapIn" />
      <wsdl:output message="tns:Postman_VerifySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Manager_Verify">
      <wsdl:input message="tns:Manager_VerifySoapIn" />
      <wsdl:output message="tns:Manager_VerifySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadPkglog">
      <wsdl:input message="tns:UploadPkglogSoapIn" />
      <wsdl:output message="tns:UploadPkglogSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ebox_serviceSoap" type="tns:ebox_serviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://eboxServic.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="add">
      <soap:operation soapAction="http://eboxServic.org/add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Postman_Verify">
      <soap:operation soapAction="http://eboxServic.org/Postman_Verify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Manager_Verify">
      <soap:operation soapAction="http://eboxServic.org/Manager_Verify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadPkglog">
      <soap:operation soapAction="http://eboxServic.org/UploadPkglog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ebox_serviceSoap12" type="tns:ebox_serviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://eboxServic.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="add">
      <soap12:operation soapAction="http://eboxServic.org/add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Postman_Verify">
      <soap12:operation soapAction="http://eboxServic.org/Postman_Verify" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Manager_Verify">
      <soap12:operation soapAction="http://eboxServic.org/Manager_Verify" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadPkglog">
      <soap12:operation soapAction="http://eboxServic.org/UploadPkglog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ebox_service">
    <wsdl:port name="ebox_serviceSoap" binding="tns:ebox_serviceSoap">
      <soap:address location="http://localhost:12526/ebox_service.asmx" />
    </wsdl:port>
    <wsdl:port name="ebox_serviceSoap12" binding="tns:ebox_serviceSoap12">
      <soap12:address location="http://localhost:12526/ebox_service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>