client/ebox_client/ebox_client/Service References/ebox_webservice/ebox_service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://eboxServic.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://eboxServic.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://eboxServic.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="addResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Verify_Postman">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PhoneNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Psw" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Verify_PostmanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Verify_PostmanResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Verify_Manager">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PhoneNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Psw" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Verify_ManagerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Verify_ManagerResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadPkglogItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="log" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadPkglogItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UploadPkglogItemResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Register_Postman">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PhoneNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Psw" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Register_PostmanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Register_PostmanResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Postman_Spend">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PhoneNo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="cost" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Postman_SpendResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Postman_SpendResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="addSoapIn">
    <wsdl:part name="parameters" element="tns:add" />
  </wsdl:message>
  <wsdl:message name="addSoapOut">
    <wsdl:part name="parameters" element="tns:addResponse" />
  </wsdl:message>
  <wsdl:message name="Verify_PostmanSoapIn">
    <wsdl:part name="parameters" element="tns:Verify_Postman" />
  </wsdl:message>
  <wsdl:message name="Verify_PostmanSoapOut">
    <wsdl:part name="parameters" element="tns:Verify_PostmanResponse" />
  </wsdl:message>
  <wsdl:message name="Verify_ManagerSoapIn">
    <wsdl:part name="parameters" element="tns:Verify_Manager" />
  </wsdl:message>
  <wsdl:message name="Verify_ManagerSoapOut">
    <wsdl:part name="parameters" element="tns:Verify_ManagerResponse" />
  </wsdl:message>
  <wsdl:message name="UploadPkglogItemSoapIn">
    <wsdl:part name="parameters" element="tns:UploadPkglogItem" />
  </wsdl:message>
  <wsdl:message name="UploadPkglogItemSoapOut">
    <wsdl:part name="parameters" element="tns:UploadPkglogItemResponse" />
  </wsdl:message>
  <wsdl:message name="Register_PostmanSoapIn">
    <wsdl:part name="parameters" element="tns:Register_Postman" />
  </wsdl:message>
  <wsdl:message name="Register_PostmanSoapOut">
    <wsdl:part name="parameters" element="tns:Register_PostmanResponse" />
  </wsdl:message>
  <wsdl:message name="Postman_SpendSoapIn">
    <wsdl:part name="parameters" element="tns:Postman_Spend" />
  </wsdl:message>
  <wsdl:message name="Postman_SpendSoapOut">
    <wsdl:part name="parameters" element="tns:Postman_SpendResponse" />
  </wsdl:message>
  <wsdl:portType name="ebox_serviceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="add">
      <wsdl:input message="tns:addSoapIn" />
      <wsdl:output message="tns:addSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Verify_Postman">
      <wsdl:input message="tns:Verify_PostmanSoapIn" />
      <wsdl:output message="tns:Verify_PostmanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Verify_Manager">
      <wsdl:input message="tns:Verify_ManagerSoapIn" />
      <wsdl:output message="tns:Verify_ManagerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadPkglogItem">
      <wsdl:input message="tns:UploadPkglogItemSoapIn" />
      <wsdl:output message="tns:UploadPkglogItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Register_Postman">
      <wsdl:input message="tns:Register_PostmanSoapIn" />
      <wsdl:output message="tns:Register_PostmanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Postman_Spend">
      <wsdl:input message="tns:Postman_SpendSoapIn" />
      <wsdl:output message="tns:Postman_SpendSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ebox_serviceSoap" type="tns:ebox_serviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://eboxServic.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="add">
      <soap:operation soapAction="http://eboxServic.org/add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Verify_Postman">
      <soap:operation soapAction="http://eboxServic.org/Verify_Postman" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Verify_Manager">
      <soap:operation soapAction="http://eboxServic.org/Verify_Manager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadPkglogItem">
      <soap:operation soapAction="http://eboxServic.org/UploadPkglogItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register_Postman">
      <soap:operation soapAction="http://eboxServic.org/Register_Postman" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Postman_Spend">
      <soap:operation soapAction="http://eboxServic.org/Postman_Spend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ebox_serviceSoap12" type="tns:ebox_serviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://eboxServic.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="add">
      <soap12:operation soapAction="http://eboxServic.org/add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Verify_Postman">
      <soap12:operation soapAction="http://eboxServic.org/Verify_Postman" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Verify_Manager">
      <soap12:operation soapAction="http://eboxServic.org/Verify_Manager" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadPkglogItem">
      <soap12:operation soapAction="http://eboxServic.org/UploadPkglogItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register_Postman">
      <soap12:operation soapAction="http://eboxServic.org/Register_Postman" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Postman_Spend">
      <soap12:operation soapAction="http://eboxServic.org/Postman_Spend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ebox_service">
    <wsdl:port name="ebox_serviceSoap" binding="tns:ebox_serviceSoap">
      <soap:address location="http://192.168.1.116/ebox_service.asmx" />
    </wsdl:port>
    <wsdl:port name="ebox_serviceSoap12" binding="tns:ebox_serviceSoap12">
      <soap12:address location="http://192.168.1.116/ebox_service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>